html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body { margin: 0px;
    padding: 0px;
    height: 100%;
}

#wrap {
    height: 100%;
    padding: 0px;
}
#map {
    padding: 0px;
    height: 100%;
}